{% extends 'main/base.html' %}
{% load static %}


{% block body %}
<div class="card mb-3 " style="width: 60rem; margin-top: 10%; margin-left: 13%;">
    <h1 class="text-center">YOUR CART</h1>
    <br>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
            </div>
            <div class="col-sm-3">
                <h6 class="mb-0">Price</h6>
            </div>
            <div class="col-sm-3">
                <h6 class="mb-0">Quantity</h6>
            </div>
            <div class="col-sm-3">
                <h6 class="mb-0">Total</h6>
            </div>
        </div>
        <hr>
        
        <div id ="list"></div>
        <!-- {% for item in orderitems %}
        <div class="row">
            <div class="col-sm-3 text-secondary">
                {{item.product.title}}
            </div>
            <div class="col-sm-3 text-secondary">
                ${{item.product.price|floatformat:2}}
            </div>
            <div class="col-sm-3 text-secondary">
                {{item.quantity}} <button style="padding: 0;outline: none;
                border: none;
                background: none;" data-product = "{{ item.product.id }}" data-action ="remove" class=" update-cart "><i class="fas fa-caret-down"></i></button> <button style="padding: 0;outline: none;
                border: none;
                background: none;" data-product = "{{ item.product.id }}" data-action ="add" class=" update-cart "><i class="fas fa-caret-up"></i></button>
            </div>
            <div class="col-sm-3 text-secondary">
                ${{item.total_price|floatformat:2}}
            </div>
        </div>
        <hr>
        {% endfor %} -->
        
    </div>
    <a  href="{% url 'checkout' %}" class="btn btn-success"><b>Checkout</b></a>
</div>


<script>
    const listE = document.getElementById("list");
    

    builtList()
    async function builtList(){
        const res = await fetch('api/orderItem-list/');
        data = await res.json()
        listE.innerHTML = ""
        for (item of data){
            
            const totalitem = parseFloat(item.product.price * item.quantity).toFixed(2);
            const createList = 
            `
                
            <div class="row">
                <div class="col-sm-3 text-secondary">
                    ${item.product.title}
                </div>
                <div class="col-sm-3 text-secondary">
                    $${item.product.price}
                </div>
                <div class="col-sm-3 text-secondary">
                    ${item.quantity} <button style="padding: 0;outline: none;
                    border: none;
                    background: none;" data-product = "${ item.product.id }" data-action ="remove" class="update-cart"><i class="fas fa-caret-down"></i></button> <button style="padding: 0;outline: none;
                    border: none;
                    background: none;" data-product = "${ item.product.id }" data-action ="add" class="update-cart"><i class="fas fa-caret-up"></i></button>
                </div>
                <div class="col-sm-3 text-secondary">
                    $${totalitem}
                </div>
            </div>
            <hr>
            
            `
            listE.innerHTML += createList;
            
        }   


        const btnCart = document.getElementsByClassName('update-cart');
        for (i = 0 ; i < btnCart.length ; i++){
            btnCart[i].addEventListener('click' , async function(event) {
                const productId = this.dataset.product;
                const action = this.dataset.action;
                if (user === 'AnonymousUser'){
                    console.log('not logged in')
                }
                else{
                    
                    const url = '/update-cart/';
                    const options ={
                        method : 'POST',
                        headers : {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        body: JSON.stringify({'productId': productId , 'action':action}),
                    }
                    response = await fetch(url , options);
                    data = await response.json()
                    const countEle = document.getElementById('count');
                    countEle.textContent = data['TotalCount'] ;
                    builtList()    
                }
            });
    
        }
    }

    

    
    

</script>

<!-- <script src="{% static 'js/cart.js' %}" ></script> -->


{% endblock %}